

.form-container form .search-item button{
    background-color: #1782fc;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: white;
    outline: none;
    border: none;
    padding: 23.5px 20px;
    cursor: pointer;
    font-weight: bold;
  }

  .form-container form .search-item #clear-btn{
    background-color: red;
    margin-left: 20px;
    border-radius: 10px;
    color: white;
    outline: none;
    border: none;
    padding: 23.5px 20px;
    cursor: pointer;
    font-weight: bold;
  }


  .form-container form .search-item-location input{
    border: none;
    padding: 20px 15px;
    border-radius: 10px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: large;
    width: 450px;

  }

.form-container form{
    
    margin-top: 0px;
    display: flex;
    justify-content: center;
    
}



h2{
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
.content-container .tour-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.content-container .tour-list .tour-item{
    align-items: center;
    background-color:white;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    flex-direction: column; 
    margin: 10px 10px;
    border-radius: 20px;
}

.content-container .tour-list .tour-item img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.content-container .tour-list .tour-item h3{
    padding-top: 15px;
    justify-content: center;
}

.content-container .tour-list .tour-item p{
    
    padding-top: 10px;
    font-size: 13px;
    padding-bottom: 10px;
    width: 300px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content-container .tour-list .tour-item button{
    

    padding-top: 10px;
    font-size: 13px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
    padding-inline: 15px;
    padding-bottom: 10px;
    align-items: center;
    cursor: pointer;
}

.content-container .tour-list .tour-item button:hover{
    background-color: grey;
}


.content-container .tour-list .tour-item label{
    
    padding-top: 5px;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
}