.upload-container{
    position: relative;
    left: 25%;
    color: white;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-bottom: 100px;
    padding-top:30px;
}

.upload-container h1{
    text-align: center;
}

.upload-container form{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.upload-container form label{
    margin-top: 10px;
}
.upload-container form input{
    padding: 10px 10px;
    border-radius: 20px;
    border: none;
    margin-top: 10px;
}

.upload-container button{
    margin-top: 30px;
    padding: 10px 10px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    width: 100px;
    position: relative;
    left:40%;
    color: white;
    background-color: #1782fc;
}

.upload-container button:hover{
    background-color: #1566c3;
}